<ion-header>
  <ion-toolbar>
    <ion-title>
      F I N A N C E I R O
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <!--<ion-button expand="full" fill="outline"><h4>Total de entregas</h4></ion-button>-->
    <ion-row>
        <ion-col id="dia" size="6">
          <div>Mês</div>
          <ion-label><strong>30</strong><ion-note> passagens</ion-note></ion-label>
        </ion-col>
        <ion-col id="acumulado" size="6">
          <div>Total acumulado</div>
          <ion-label><strong>R$ 90,00</strong><ion-note> reais</ion-note></ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col id="dia" size="6">
          <div>Dia</div>
          <ion-label><strong>10</strong><ion-note>passagens</ion-note></ion-label>
        </ion-col>
        <ion-col id="acumulado" size="6">
          <div>Acumulado do dia</div>
          <ion-label><strong>R$ 30,00</strong><ion-note> reais</ion-note></ion-label>
        </ion-col>
      </ion-row>
      <!-- Segment with default selection -->
      <ion-segment (ionChange)="segmentChanged($event)" value="viagens">
        <ion-segment-button value="viagens">
          <ion-label>Viagens</ion-label>
        </ion-segment-button>
        <ion-segment-button value="recebidos">
          <ion-label>Recebidos</ion-label>
        </ion-segment-button>
         <ion-segment-button value="historico">
          <ion-label>Historico</ion-label>
        </ion-segment-button>
      </ion-segment>
      
      
      <div [ngSwitch]="category">

        <section *ngSwitchCase="'viagens'">
          <ion-button expand="full" fill="outline"><h6>Viagens</h6></ion-button>
          <ion-list>
            <ion-item>
              <ion-label>25/10/2019</ion-label>
              <div>R$ 900.00</div>
              <ion-note>10 passagens</ion-note>
            </ion-item>
            <ion-item>
              <ion-label>26/10/2019</ion-label>
              <div>R$ 1.800,00</div>
              <ion-note>20 passagens</ion-note>
            </ion-item>
            <ion-item>
              <ion-label>27/10/2019</ion-label>
              <div>R$ 600.00</div>
              <ion-note>7 passagens</ion-note>
            </ion-item>

          </ion-list>
        </section>
        <section *ngSwitchCase="'recebidos'">
          <ion-button expand="full" fill="outline"><h4>Valores Recebidos</h4></ion-button>
          <ion-list >
            <ion-item>
              <ion-label>26/10/2019</ion-label>
              <div>R$ 17.00</div>
              <ion-badge color="tertiary" slot="end">pago</ion-badge>
              <ion-note>total 51.00 reais</ion-note>
            </ion-item>
            <ion-item>
              <ion-label>27/10/2019</ion-label>
              <div>R$ 29.00</div>
              <ion-badge color="tertiary" slot="end">pago</ion-badge>
              <ion-note>total 87.00 reais</ion-note>
            </ion-item>
            <ion-item>
              <ion-label>28/10/2019</ion-label>
              <div>R$ 47.00</div>
              <ion-badge color="warning" slot="end">aberto</ion-badge>
              <ion-note>total 141.00 reais</ion-note>
            </ion-item>

          </ion-list>
        </section>

        <section section *ngSwitchCase="'historico'">
          <ion-button expand="full" fill="outline"><h4>Historico</h4></ion-button>
          <ion-list >
            <ion-item>
              <ion-label>Dezembro</ion-label>
              <div>R$ 17.00</div>
              <ion-badge color="tertiary" slot="end">pago</ion-badge>
              <ion-note>total 51.00 reais</ion-note>
            </ion-item>
            <ion-item>
              <ion-label>Janeiro</ion-label>
              <div>R$ 29.00</div>
              <ion-badge color="tertiary" slot="end">pago</ion-badge>
              <ion-note>total 87.00 reais</ion-note>
            </ion-item>
            <ion-item>
              <ion-label>Fevereiro</ion-label>
              <div>R$ 47.00</div>
              <ion-badge color="warning" slot="end">aberto</ion-badge>
              <ion-note>total 141.00 reais</ion-note>
            </ion-item>

          </ion-list>
        </section>

      </div>
  </ion-grid>
  
</ion-content>
