<ion-header>
  <ion-toolbar>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="full" fill="outline"><h4>Viagem do dia 30/10/2019</h4></ion-button>
    <ion-list>
      <ion-card *ngFor="let p of passageiros; let i = index">
        <ion-item *ngFor="let item of p.passageiros; let ind = index">
          <ion-label>
              <div><strong>{{item.nome}}</strong></div>
              <h2>{{ item.RG }}</h2>
              <p>{{ item.idade  }} anos</p>
            </ion-label>
            <ion-badge color="tertiary" slot="end">{{item.poltrona}}</ion-badge>
            <ion-toggle slot="end" (ionBlur)="checkIn(p.key, ind)" (ionFocus)="checkOut(p.key, ind)"></ion-toggle>
        </ion-item>
        
      </ion-card>

      <!--<ion-item>
        <ion-label>
            <div><strong>Finn Garibalde da Silva Sauro</strong></div>
            <h2>123.321.546-11</h2>
            <p>23 anos</p>
          </ion-label>
        <ion-badge color="tertiary" slot="end">9c</ion-badge>
        <ion-toggle slot="end"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>
            <h2><strong>Jane Do</strong></h2>
            <h2>123.321.546-11</h2>
            <p>27 anos</p>
          </ion-label>
        <ion-badge color="tertiary" slot="end">9b</ion-badge>
        <ion-toggle slot="end"></ion-toggle>
      </ion-item>-->
    </ion-list>

    <!--<ion-button (click)="addPassagem()">AddPassagem</ion-button>-->
</ion-content>
