ion-header {
  height: 120px;
}
ion-toolbar {
    --background: url('../../assets/logo-suseViagensADM.png') no-repeat center center / cover;
    -webkit-background-size: cover;
    color: white;
    font-family: fantasy;  
    height: 120px;
  }

ion-item {
  --background: cornflowerblue;
}
